<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257465157723-ssgdvd6nffklgvddk9celml8k158oiri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257465157723-ssgdvd6nffklgvddk9celml8k158oiri</string>
	<key>API_KEY</key>
	<string>AIzaSyA0EjFXu31GuFzLgv5mYle8LTaSlIakNpE</string>
	<key>GCM_SENDER_ID</key>
	<string>257465157723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starshmucks</string>
	<key>PROJECT_ID</key>
	<string>starshmucks-app</string>
	<key>STORAGE_BUCKET</key>
	<string>starshmucks-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257465157723:ios:9c284b53c19d4ddf83177e</string>
</dict>
</plist>